@use "../../styles/abstracts" as abs;

.searchForm {
  @include abs.flex-center(null);
}

.formLabel {
  position: relative;
  width: 302px;
  height: 40px;
  margin-right: 8px;
}

.formInput {
  @include abs.fonts($fw: 500, $color: var(--color-text));
  width: 100%;
  padding: 8px 10px 8px 38px;
  border: 1px solid var(--color-border);
  border-radius: abs.$radius-sm;
  outline: none;
  background-color: var(--color-background);
  transition: var(--transition);
}

.placeholderIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  fill: var(--color-border);
  pointer-events: none;
}

.searchCrossBtn {
  position: absolute;
  top: 50%;
  right: 10px;
  border: none;
  background-color: transparent;
  transform: translateY(-50%);
  line-height: 0;

  &:hover .searchCrossIcon {
    opacity: 0.5;
  }
}

.searchCrossIcon {
  fill: var(--color-text-secondary);

  transition: var(--transition);
}

.formSubmitBtn {
  @include abs.button(
    var(--color-text-muted),
    var(--color-text-secondary),
    var(--color-primary-active)
  );
}
