$font-family: "Montserrat", sans-serif;
$font-family-secondary: "Inter", sans-serif;

$transition: all 0.35s cubic-bezier(0.22, 1, 0.36, 1);

$radius-xs: 4px;
$radius-sm: 8px;
$radius-md: 12px;
$radius-lg: 20px;
$radius-xl: 24px;
