@use "../../styles/abstracts" as abs;

.wrapper {
  @include abs.flex-center(space-between, start);
  margin-bottom: 48px;
}

.title {
  @include abs.flex-column(8px);
  @include abs.fonts($fs: 32px, $fw: 600, $color: var(--color-text));
}

.subTitle {
  @include abs.fonts($color: var(--color-text));
}

.addButton {
  @include abs.button(
    var(--color-primary),
    var(--color-primary-hover),
    var(--color-primary-active)
  );
  gap: 7px;
}

.plus {
  fill: currentColor;
}

.filter {
  margin-bottom: 40px;
}

.animals {
  margin-bottom: 40px;
}

.emptyMessage {
  padding: 48px 24px;
  border: 1px dashed var(--color-border);
  border-radius: 16px;
  background-color: var(--color-background-secondary);
  text-align: center;
  @include abs.fonts($fs: 18px, $fw: 500, $color: var(--color-text-secondary));
}
