@use "../../styles/abstracts" as abs;

.title {
  @include abs.fonts($fs: 32px, $fw: 600, $color: var(--color-text));
  margin-bottom: 48px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.listItem {
  @include abs.flex-column(30px);
  @include abs.border;
}

.listTitle {
  @include abs.fonts($fs: 24px, $fw: 600, $color: var(--color-text));
  text-align: center;
}
