@use "../../styles/abstracts" as abs;

.signInContainer {
  @include abs.flex-column(20px);

  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logoIcon {
  fill: var(--color-text);
}

.title {
  @include abs.fonts($fs: 32px, $fw: 600, $color: var(--color-text));
}
