@use "../../styles/abstracts" as abs;

.btnsList {
  @include abs.flex-center(null);

  gap: 4px;

  margin-bottom: 8px;
}

.btnsItem:not(:first-child) button {
  @include abs.button(
    transparent,
    rgb(192 192 192 / 10%),
    rgb(192 192 192 / 40%),
    var(--color-primary),
    0.5px solid var(--color-primary),
    14px
  );
}

.deleteBtn {
  @include abs.button(
    $bg-color: #d9d9d9,
    $bg-hover: #c0c0c0,
    $bg-active: #a2a2a2,
    $color: #353535,
    $font-size: 14px
  );
}

.modalTitle {
  @include abs.fonts($fs: 24px, $fw: 600, $color: var(--color-text), $lh: 1);

  margin-bottom: 8px;

  text-align: center;
}

.modalText {
  @include abs.fonts($fs: 14px, $fw: 500, $color: var(--color-text-secondary));

  margin-bottom: 32px;

  text-align: center;
}

.modalCloseBtn {
  @include abs.button;

  margin-top: auto;
}

.viewDetailsBtn {
  @include abs.button(
    transparent,
    rgb(192 192 192 / 10%),
    rgb(192 192 192 / 40%),
    var(--color-primary),
    0.5px solid var(--color-primary),
    14px
  );
}

.viewDetailsBtn:disabled {
  cursor: not-allowed;

  opacity: 0.5;
}

//========== delete modal

.modalIcon {
  margin-bottom: 16px;

  fill: var(--color-danger);
}

.modalBtnsWrapper {
  @include abs.flex-center(space-evenly);

  width: 100%;
}

.modalBtnCancel {
  @include abs.button(#d9d9d9, #c0c0c0, #a2a2a2, #353535);
}

.modalBtnDelete {
  @include abs.button(var(--color-danger), #b31a1a, #7d1313);
}

.ag-theme-alpine {
  @include abs.border;

  --ag-font-family: var(--font-main);
  --ag-row-height: 60px;

  padding: 0;

  .ag-header {
    @include abs.fonts($fw: 600, $color: var(--color-text));

    background-color: var(--color-background-secondary);
  }

  .ag-column-first {
    @include abs.flex-center;
  }

  .ag-header-cell-label {
    justify-content: center;
  }

  .ag-cell {
    @include abs.flex-center;

    @include abs.fonts($fs: 14px, $color: var(--color-text));
  }
}
