@use "../../styles/abstracts" as abs;

.btnsWrapper {
  @include abs.flex-center(null);
  margin-bottom: 48px;
}

.changeBtnWrapper {
  @include abs.flex-center;
  gap: 16px;
  margin-left: auto;
}

.editBtn {
  @include abs.button;
  gap: 4px;
}

.editIcon {
  fill: #fff;
}

.deleteBtn {
  @include abs.fonts($fs: 16px, $fw: 600, $color: var(--color-danger));
  align-self: start;
  padding: 8px 5px;
  border: none;
  background-color: transparent;
  transition: var(--transition);
  &:hover,
  &:focus-visible {
    color: #d93131;
  }

  &:active {
    color: #b31a1a;
  }
}

.detailsWrapper {
  @include abs.border;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 54px;
  align-items: center;
}

.animalImgWrapper {
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: abs.$radius-md;
  background-color: var(--color-background-secondary);
}

.animalImg {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.rightColumn {
  @include abs.flex-column;

  height: 100%;
}

.contentWrapper {
  @include abs.flex-column(16px);

  margin-bottom: 32px;
}

.desTitle {
  @include abs.fonts($fs: 20px, $fw: 600, $color: var(--color-primary-hover));
}

.titlePos {
  margin-right: 8px;
}

.desText {
  @include abs.fonts($fs: 18px, $color: var(--color-text));
}

.desBorder {
  margin-bottom: 16px;
  padding: 15px;

  border: 0.5px solid var(--color-border);
  border-radius: abs.$radius-sm;
}

.flexWrapper {
  @include abs.flex-center(null);
}

.smoleGapWrapper {
  gap: 8px;
}

.bigGapWrapper {
  justify-content: space-between;
}

.badge {
  @include abs.flex-center;
  @include abs.fonts($fs: 14px, $fw: 500, $color: #fff, $ls: 0.01em);
  width: 110px;
  height: 27px;
  border-radius: abs.$radius-sm;
}

.available {
  background-color: var(--color-success);
}

.reserved {
  background-color: var(--color-warning);
}

.sold {
  background-color: var(--color-text-secondary);
}

.desPrice {
  @include abs.fonts($fs: 20px, $fw: 700, $color: var(--color-text));
}

.desColor {
  color: var(--color-text);
}

.desPos {
  margin-top: auto;
  margin-bottom: 8px;
}

//========== delete modal

.modalIcon {
  margin-bottom: 16px;
  fill: var(--color-danger);
}

.modalTitle {
  @include abs.fonts($fs: 24px, $fw: 600, $color: var(--color-text), $lh: 1);
  margin-bottom: 8px;
  text-align: center;
}

.modalText {
  @include abs.fonts($fs: 14px, $fw: 500, $color: var(--color-text-secondary));
  margin-bottom: 32px;
  text-align: center;
}

.modalBtnsWrapper {
  @include abs.flex-center(space-evenly);
  width: 100%;
}

.modalBtnCancel {
  @include abs.button(#d9d9d9, #c0c0c0, #a2a2a2, #353535);
}

.modalBtnDelete {
  @include abs.button(var(--color-danger), #b31a1a, #7d1313);
}
