@use "../../styles/abstracts" as abs;

header {
  padding: 24px 0 8px;

  border-bottom: 1px solid var(--color-border);
}

.headerContainer {
  @include abs.flex-center(null);
}

.nav {
  @include abs.flex-center(space-between);

  flex-grow: 1;
}

.logoIcon {
  fill: var(--color-text);
}

.navList {
  @include abs.flex-center(null);

  gap: 32px;

  margin: 0 auto;
}

.navListLink {
  @include abs.flex-center(null);

  @include abs.fonts($color: var(--color-text-muted));

  gap: 8px;

  padding: 10px 15px;

  transition: var(--transition);
  &:hover,
  &:focus-visible {
    border-radius: abs.$radius-sm;

    background-color: var(--color-background-hover);
    color: var(--color-text);
  }
}

.activeLink {
  border-radius: abs.$radius-sm;

  background-color: var(--color-background-hover);
  color: var(--color-text);
}

.navListIcon {
  fill: currentColor;
}

// .authList {
//   @include abs.flex-center(null);
//   gap: 16px;
//   margin-left: 125px;
// }

// .signIn {
//   @include abs.button(
//     transparent,
//     rgba(192, 192, 192, 0.1),
//     rgba(192, 192, 192, 0.4),
//     var(--color-primary),
//     0.5px solid var(--color-primary)
//   );
// }

.logout {
  @include abs.button;
}
