@use "../../styles/abstracts" as abs;

.modalTitle {
  @include abs.fonts($fs: 24px, $fw: 600, $color: var(--color-text), $lh: 1);
  margin-bottom: 8px;
  text-align: center;
}

.modalText {
  @include abs.fonts($fs: 14px, $fw: 500, $color: var(--color-text-secondary));
  margin-bottom: 32px;
  text-align: center;
}

.modalCloseBtn {
  @include abs.button;

  margin-top: auto;
}

.modalIcon {
  margin-bottom: 16px;
  fill: var(--color-danger);
}

.modalBtnsWrapper {
  @include abs.flex-center(space-evenly);
  width: 100%;
}

.modalBtnCancel {
  @include abs.button(#d9d9d9, #c0c0c0, #a2a2a2, #353535);
}

.modalBtnDelete {
  @include abs.button(var(--color-danger), #b31a1a, #7d1313);
}
