@use "../../styles/abstracts" as abs;

.list {
  margin-bottom: 50px;
}

.listItem {
  @include abs.fonts($fs: 12px, $fw: 600, $color: var(--color-text));
  display: flex;
  gap: 8px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &:first-child {
    @include abs.fonts($fs: 18px, $fw: 600, $color: var(--color-text));
  }
}
