@use "../../styles/abstracts" as abs;

.form {
  @include abs.border(30px 40px);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.inputWrapper {
  position: relative;
}

.input {
  @include abs.fonts($fs: 14px, $color: var(--color-text));
  width: 400px;
  height: 40px;
  padding: 8px 10px;
  border: 1px solid var(--color-border);
  border-radius: abs.$radius-sm;
  outline: none;
  background-color: var(--color-background);
  transition: var(--transition);
  &:focus {
    border-color: var(--color-text-muted);
  }

  &::placeholder {
    @include abs.fonts($fs: 14px, $color: var(--color-border));
  }
}

.errorText {
  position: absolute;
  top: 40px;
  left: 0;

  @include abs.fonts(
    $fs: 10px,
    $fw: 400,
    $color: var(--color-danger),
    $lh: 1.8
  );
}

.button {
  @include abs.button;
  align-self: center;
}
