@use "../../styles/" as *;

.form {
  @include border(30px 40px);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.inputWrapper {
  position: relative;
}

.input {
  @include fonts(14px);
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  padding: 8px 10px;
  width: 400px;
  height: 40px;
  outline: none;

  &:focus {
    border: 1px solid #a2a2a2;
  }

  &::placeholder {
    @include fonts($fs: 14px, $color: #c0c0c0);
  }
}

.errorText {
  position: absolute;
  top: 40px;
  left: 0;
  //   height: 1px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.8;
  letter-spacing: 0em;
  color: #e24a4a;
}

.button {
  @include button();
  align-self: center;
}
