@use "../../styles/abstracts" as abs;

.animalCard {
  position: relative;
  overflow: hidden;
  border: 0.5px solid var(--color-border);
  border-radius: abs.$radius-lg;
  background-color: var(--color-background-secondary);
}

.animalCard img {
  width: 100%;
}

.animalImgWrapper {
  height: 277px;
  overflow: hidden;
}

.animalCardContent {
  padding: 24px 24px 36px;
}

.contentWrapper {
  @include abs.flex-center(space-between);

  margin-bottom: 8px;
}

.animalImg {
  width: 100%;
  height: 277px;
  object-fit: cover;
}

.animalName {
  @include abs.fonts($fs: 20px, $fw: 500, $color: var(--color-text));
}

.animalPrice {
  @include abs.fonts($fs: 20px, $fw: 600, $color: var(--color-text));
  font-family: var(--font-second);
  text-align: right;
}

.animalBreed {
  @include abs.fonts($color: var(--color-text-secondary));
  margin-bottom: 8px;
}

.animalSex {
  @include abs.fonts($fs: 12px, $color: var(--color-text-secondary));
}

.badge {
  @include abs.flex-center;
  @include abs.fonts($fs: 14px, $fw: 500, $color: #fff, $ls: 0.01em);
  position: absolute;
  top: 16px;
  left: 16px;
  width: 110px;
  height: 27px;
  border-radius: abs.$radius-sm;
}

.available {
  background-color: var(--color-success);
}

.reserved {
  background-color: var(--color-warning);
}

.sold {
  background-color: var(--color-text-secondary);
}
